:root
{
  --button_play:#8EBBFF;
  --background_color :#24293E ;
  --text_header_color : #FFFFFF;
    --text_color : #F0F0F0;
  --header : #2F3651;
}

@font-face {
  font-family: TextHeader ;
  src : "/font_family/Helvetica-Bold.ttf"
}
 
@font-face {
  font-family: TextParagraph;
  src : "/font_family/Helvetica.ttf"
}

@font-face {
  font-family: FontUsername;
  src : "/font_family/Helvetica-Bold.ttf"
}
*
{
  margin:0;
  padding:0;
  box-sizing:border-box ;
}

body
{
  max-width:600px ;
  min-height:100vh;
  margin:auto auto auto auto ;
  transition:all .2s ease-in-out ;
  background:var(--background_color);
}

header 
{
 position: fixed ;
 top: 0;
 left: 0 ;
 right:0;
 width:100%;
 margin:0 auto 0 ;
 max-width:600px;
 padding:15px 20px ;
 background:var(--header);
 z-index:20;
 display:flex ;
 justify-content:space-around ;
 align-items:center ;
}

header .app_icon
{
  display:flex ;
  justify-content:space-between ;
  align-items :center ;
  width:170px;
  margin-right: auto ;
}

header .app_icon input 
{
  outline:none ;
  background:transparent;
  border:1px solid transparent ;
  height:35px;
  width:136px;
  text-align:left ;
  padding:5px ;
  font-size:1.3em ;
  font-weight:400 ;
  text-overflow: ellipsis ;
  color:var(--text_header_color);
  font-family: FontUsername;
  font-weight:700 ;
  text-shadow:0 0 1px #f1edef ;
}
header .app_icon img 
{
  width:20%;
  height:15%;
  object-fit:cover ;
}

header .material-icons-round
{
  outline:none;
  background:transparent;
  color: var(--text_color);
  border:1px solid transparent ;
  font-size:1.3em ;
}


.main 
{
 min-height:100vh;
} 
.main.padding_bottom
{
  padding-bottom: 100px ;
}
.recommended_playlist_container 
{
  margin:30% auto 0 ;
  width:100%;
  max-width:600px ;
  height:310px;
}
.recommended_playlist_container h4 
{
  font-size:1.2em ;
  font-weight:700 ;
  color: var(--text_header_color);
  font-family: TextHeader ;
}
.recommended_playlist_wrapper 
{
  display:flex;
  justify-content:left ;
  align-items:center ;
  width:98%;
  height:85%;
  margin:10px auto 0;
  overflow-y: hidden ;
  overflow-x: scroll ;
}

.recommended_playlist_wrapper::-webkit-scrollbar 
{
  display:none ;
}

.recommended_playlist 
{
  min-width: 180px ;
  height:175px;
  margin:0 20px 70px;
}

.recommended_playlist img 
{
  width:100%;
  height:100%;
  object-fit:cover ;
  box-shadow:7px 7px 0 var(--header),
  9px 9px 0 var(--text_color) ;
}

.recommended_playlist_artist 
{
  width:98%;
  display:flex ;
  justify-content:center ;
  align-items :center ;
  height:70px;
  margin:3px auto 0 ;
}

.recommended_playlist_artist button 
{
   color: var(--button_play);
   border :1px solid transparent ;
   background:transparent ;
   width:35px;
   height:35px;
   border-radius:50%;
   display:block ;
   font-size:2em;
}



.recommended_album_artist button 
{
  color: var(--button_play);
  border :1px solid transparent;
  background:transparent;
  width:35px;
  height:35px;
  border-radius:50%;
  display:block;
  font-size:2em;
}
.recommended_playlist_artist p
{
  font-size:.7em;
  padding:4px;
  color: var(--text_color);
  font-family: TextParagraph;
    font-weight:700;

}


.gym_playlist_container
{
  width:100%;
  max-width:600px ;
  height:auto ;
  padding:10px ;
  margin:10% auto 0 ;
}

.gym_playlist_container h4
{
  font-size:1.2em ;
  font-weight:700 ;
  color: var(--text_header_color);
  text-transform: capitalize ;
  font-family: TextHeader ;
}

.gym_playlist_wrapper {
  display:flex ;
  flex-wrap: wrap;
  justify-content:center ;
  align-items :center ; 
  margin:7% auto 0 ;
}

.gym_playlist:nth-child(2)
{
  margin:25% 0;
}

.gym_playlist_wrapper::-webkit-scrollbar
{
  display:none ;
}

.gym_playlist 
{
  max-width:600px ;
  height:230px;
  border-radius:5px ;
  width:100%;
}
.gym_playlist img 
{
  width:100%;
  height:100%;
  padding:5px;
  object-fit:cover ;
  box-shadow:7px 7px 0 var(--header),
  9px 9px 2px var(--text_color);
}
.gym_playlist_artist 
{
  width:98%;
  display:flex ;
  justify-content:center ;
  align-items :center ;
  height:70px;
  margin:3px auto 0 ;
  padding:10px ;
}

.gym_playlist_artist button 
{
  color: var(--button_play);
   border :1px solid transparent ;
   background:transparent ;
   width:35px;
   height:35px;
   border-radius:50%;
   display:block ;
   font-size:2em; 
}
.gym_playlist_artist p 
{
  font-size:.7em;
  padding:4px;
  color: var(--text_color); 
  font-family: TextParagraph;
    font-weight:700;
}

.recommended_album_container 
{
  margin:17% auto 0;
  width:100%;
  max-width:600px;
  height:290px;
}

.recommended_album_container h4 
{
  font-size:1.2em ;
  font-weight:700 ;
  color: var(--text_header_color);
  text-transform: capitalize ;
  font-family: TextHeader ;
}

.recommended_album_wrapper 
{
  display:flex;
  justify-content:left;
  align-items:center;
  width:98%;
  height:85%;
  margin:10px auto 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.recommended_album_wrapper::-webkit-scrollbar 
{
  display: none ;
}
.recommended_album 
{
  min-width: 180px;
  height:175px;
  margin:0 20px 70px;
}

.recommended_album img 
{
  width:100%;
  height:100%;
  object-fit:cover ;
  box-shadow:7px 7px 0 var(--header),
  9px 9px 2px var(--text_color);
}

.recommended_album_artist 
{
  width:98%;
  display:flex;
  justify-content:center;
  align-items :center;
  height:70px;
  margin:3px auto 0;
}

.recommended_album_artist p
{
  font-size:.7em;
  padding:4px;
  color: var(--text_color);
  font-family: TextParagraph;
  font-weight:700;
}

.recommended_album_artist button 
{
  color: var(--button_play);
  border :1px solid transparent;
  background:transparent;
  width:35px;
  height:35px;
  border-radius:50%;
  display:block;
  font-size:2em;
}

.recommended_partyplaylis_container
{
  margin:30% auto 0;
  width:100%;
  max-width:600px;
  height:270px;
}

.recommended_partyplaylis_container h4 
{
  font-size:1.2em ;
  font-weight:700 ;
  color: var(--text_header_color);
  text-transform: capitalize ;
  font-family: TextHeader ;
}

.recommended_partyplaylist_wrapper 
 {
   display:flex;
  justify-content:left;
  align-items:center;
  width:98%;
  height:85%;
  margin:10px auto 0;
  overflow-y: hidden;
  overflow-x: scroll;
 }
 
.recommended_partyplaylist_wrapper::-webkit-scrollbar 
{
  display: none ;
}
.recommended_partyplaylist 
{
  min-width: 180px;
  height:175px;
  margin:0 20px 70px;
}

.recommended_partyplaylist img
{
  width:100%;
  height:100%;
  object-fit:cover ;
  box-shadow:7px 7px 0 var(--header),
  9px 9px 2px var(--text_color);
}

.recommended_partyplaylist_artist
{
  width:98%;
  display:flex;
  justify-content:center;
  align-items :center;
  height:70px;
  margin:3px auto 0;
}

.recommended_partyplaylist_artist p 
{
  font-size:.7em;
  padding:4px;
  color: var(--text_color);
  font-family: TextParagraph;
  font-weight:700;
}

.recommended_partyplaylist_artist button 
{
  color: var(--button_play);
  border :1px solid transparent;
  background:transparent;
  width:35px;
  height:35px;
  border-radius:50%;
  display:block;
  font-size:2em;
}


.show_playing_container 
{
  position :fixed ;
  bottom :0 ;
  width:100%;
  max-width:600px;
  background:var(--header);
  display:flex ;
  justify-content:space-between ;
  align-items :center ;
  overflow:hidden ;
  height:0;
  transition : height 100ms ease-in;
  transition-timing-function: cubic-bezier(.58, -0.36, .88, .72);
 
}
.show_playing_container.active
{
 height:85px;
 transform-origin: top ;
 transition : height 100ms ease-out;
transition-timing-function: cubic-bezier(.58, -0.36, .88, .72);
}
 

.show_playing_cover 
{
  height:100%;
  flex-grow: 2;
  max-width: 140px;
}

.show_playing_cover img 
{
  width: 100%;
  height:100%;
  object-fit: cover ;
  padding:5px ;
}

.show_playing_artist 
{
  height:100%;
  flex-grow: 1 ;
}

.show_playing_artist 
{
  display:flex ;
  flex-direction:column ;
  justify-content:center ;
  align-items :center ;
  color: var(--text_color);
  max-width: 140px ;
  min-width: 150px ;
  text-overflow: ellipsis ;
  text-align: center ;
}
.show_playing_artist h5 
{
  font-weight:800 ;
  padding:5px ;
}

.show_playing_artist p 
{
  font-weight:300 ;
  font-size:.8em;
}
.show_playing_button 
{
  height:100%;
  flex-grow: 1;
  display:grid;
  place-items: center ;
}

.show_playing_button img
{
  width:40px;
  object-fit:cover ;
  transform:scale(4);
}


.feedback 
{
  position: fixed;
  bottom:17%;
  right:10%;
  z-index:100;
  background:transparent ;
  border:1px solid transparent;
}

.feedback  span 
{
  display:block ;
  font-size:1.2em ;
  color: white ;
}
