@font-face {
  font-family: newFont;
  src: url("/font_family/Quicksand-VariableFont_wght.ttf");
}

@font-face{
  font-family: Abel-Regular;
  src: url("/font_family/Abel-Regular.ttf")
}
*
{
  padding :0;
  margin:0;
  box-sizing:border-box;
}


body
{
  font-size:15pt;
  min-height:100vh;
  text-align:center ;
  max-width:600px;
  margin:auto auto auto auto ;
  transition:all .2s  ease-in-out ;
  background:#1A1A1A;
}
.home_screen
 {
   position:fixed;
   width:100%;
   height:100vh;
   min-height:100vh;
   top:0;
   left:0 ;
   right:0;
   bottom:0;
   display:flex;
   flex-direction:column;
   justify-content: center ;
   align-items:center;
   background:#24293E;
   text-align:center ;
   z-index:1000;
   transition: .3s ease-out ;
   transition-timing-function: cubic-bezier(.58,-0.36,.88,.72) ;
 }
 
.home_screen.active
{
 transition:.3s ease-in ;
 transform: translateY(-200%);
}

.logo_container 
{
  width:80%;
  max-width:80%;
  text-align:center ;
  
}

.logo_container  img 
{
  width:25%;
  object-fit:cover ;
  padding:5px;
}
.logo_container h5 
{
  font-size:1.2em ;
  letter-spacing:2px;
  color:ghostwhite ;
  padding:5px ;
  font-family: newFont;
  font-weight:800 ;
}

.logo_container span 
{
  font-size:.6em;
  display:block ;
  font-weight:300;
  letter-spacing:3px;
  color:white ;
  font-family: Abel-Regular;
}

.home_screen button 
{
 display:block ;
 padding:10px 30px;
 margin-top:70px;
 outline:none ;
 background:whitesmoke;
 color:black ;
 border:1px solid ghostwhite ;
 font-size:.8em ;
 font-family: Abel-Regular;
 border-radius:10px ;
}

.home_screen a 
{
  display: block ;
  text-decoration: none ;
  outline:none ;
  color:white ;
  font-size:.6em;
  margin-top:100px ;
  font-family: Abel-Regular;
}
.main 
{
  width:100%;
  position:relative ;
  height:100vh;
  display:flex;
  justify-content:space-between;
  align-items:center ;
  flex-direction:column ;
  background:#1A1A1A;
  margin:0 auto 0 ;
  padding:30px ;
}

.cover_container
{
  width:100%;
  bottom:30px;
  margin:0 auto 0 ;
  height:90%;
  display:flex ;
  justify-content:flex-start ;
  align-items:center ;
  flex-direction:column ;
  position:relative;
}
.expand_more 
{
  position:absolute;
}

.img_container 
{
  width:98%;
  max-height:270px;
  min-height:270px;
  position:relative ;
}
.img_container  img 
{
  width:100%;
  height:100%;
  object-fit:cover ;
  padding:20px;
  display:block ;
}





.progress_bar 
{
  display:flex;
  justify-content:space-between ;
  align-items:center ;
  width:98%;
  margin:5px auto 0 ;
  bottom:40px ;
}

.progress_bar  input[type="range"]
{
  outline: none ;
  height:3px ;
  width:80%;
  border-radius:3px;
  background:#E9EEF2 ;
  -webkit-appearance:none ;
}

.progress_bar  input[type="range"]::-webkit-slider-thumb
{
  height:6px;
  width:6px;
  border-radius:50%;
  background:rgb(255, 255, 255);
}

.progress_bar .repeat_one
{
  font-size:.6em;
  font-weight:700 ;
  display:block ;
  margin-top:37px;
  background:gray;
  transition: color .3s  ease-out;
}

.progress_bar .repeat_one.active 
{
  color:white ;
  transition: color .3s  ease-in;
}

.progress_bar .audio_length
{
  font-size:.6em;
  font-weight:700;
  display: block ;
   margin-top:30px;
   color:ghostwhite;
}

.audio_name_container 
{
  width:80%;
  text-align:center ;
  margin:5px auto 0 ;
}

.audio_name_container  h5, p
{
  display:block ;
  margin-block: 3px;
}

.audio_name_container h5
{
   color:#f1354d;
   font-weight:900;
   font-family: newFont ;
   font-size:.6em;
}

.audio_name_container p 
  {
    color: whitesmoke;
    font-weight:300 ;
    font-family: Abel-Regular;
    font-size:.6em;
  }
.btn_container 
{
  width:98%;
  margin:3px auto 0 ;
  
}

.btns_container  .btns 
{
  display:flex ;
  justify-content:center ;
  align-items:center ; 
}
.btn_container .btns  button
{
  background:transparent;
  border:1px solid transparent ;
  outline:none ;
  margin:10px;
  width:35px;
  height:35px;
  color:white;
  line-height:.1;
  display:inline-flex ;
  font-size:2em ;
}


.volume_container 
{
  width :98%;
  display:flex;
  justify-content:space-around ;
  align-items:center ;
}

.volume_container  span 
{
  color:white ;
  display:block ;
}

.volume_container input[type="range"]
{
  outline: none ;
  height:4px ;
  width:80%;
  border-radius:3px;
  -webkit-appearance:none ;
  background:#E9EEF2 ;

}


.pagination
{
  width:100%;
  position:fixed;
  bottom:0 ;
  z-index:20;
  display:flex ;
  justify-content:space-around ;
  align-items:center ;
  background:#1A1A1A;
  padding:10px ;
  box-shadow:0 0 6px rgba(247, 252, 250,.2);
}

.pagination button
{
  display: inline-block ;
  outline:none ;
  background:transparent ;
  border:1px solid transparent;
}

.pagination button span 
{
  font-weight:400;
  color:white ;
  font-size:2em ;
}


.pagination  button .playlist_play
{
  font-size:2.5em;
}


.playlist 
{
  width: 100%;
  max-height:220px;
  position:fixed;
  background:#1A1A1A ;
  bottom:60px;
  display:flex ;
  flex-direction:column ;
  justify-content:center;
  align-items:center;
  text-align:left ;
  overflow:hidden ;
  height:0;
  border-radius:10px 10px 0 0;
  -webkit-box-shadow: -1px 1px 6px -1px rgba(255,255,255,0.22); 
box-shadow: -1px 1px 6px -1px rgba(255,255,255,0.22);
transition : height  300ms  ease-in;
transition-timing-function: cubic-bezier(.58,-0.36,.88,.72);
}

.playlist.active 
{
  height:210px;
  transition : height  300ms  ease-out;
transition-timing-function: cubic-bezier(.58,-0.36,.88,.72);
}
.playlist .playlist_head
{
  width:100%;
  padding:10px ;
  border-bottom: 1px inset transparent;
  border-radius:10px 10px 0 0;
  color:ghostwhite ;
  margin-top: 10px ;
  font-family: newFont ;
  box-shadow: 8px 10px 19px -7px rgba(236,232,232,0.22);
-webkit-box-shadow: 8px 10px 19px -7px rgba(236,232,232,0.22);
-moz-box-shadow: 8px 10px 19px -7px rgba(236,232,232,0.22);
}

.playlist_link
{
  display:flex ;
  flex-direction:column ;
  justify-content:flex-start ;
  align-items:center ;
  width:100%;
  min-height:80%;
  overflow:hidden ;
  overflow-y: auto ;
  text-align:left ;
  margin-right: auto ;
}
.playlist_link  .link 
{
  margin:8px ;
  margin-right: auto ;
  border-bottom:1px solid darkgray;
  width:95%;
  padding:5px 5px;
    font-family: Abel-Regular;
 
}

.playlist_link  .link a 
{
  display: block ;
  text-align:left ;
  text-decoration:none ;
  font-size:.6em;
  width:100%;
  color: whitesmoke;
  font-weight :900 ;
}

.playlist_link .link p 
{
  font-size:.4em ;
  color: ghostwhite ;
  font-weight:400;
}

.share 
{
 
  width: 100%;
  max-height:220px;
  position:fixed;
  background:#1A1A1A ;
  bottom:60px;
  display:flex ;
  justify-content:center;
  align-items:center;
  text-align:left ;
  overflow:hidden ;
  height:0;
  border-radius:10px 10px 0 0;
  -webkit-box-shadow: -1px 1px 6px -1px rgba(255,255,255,0.22); 
box-shadow: -1px 1px 6px -1px rgba(255,255,255,0.22);
transition : height  300ms  ease-in;
transition-timing-function: cubic-bezier(.58,-0.36,.88,.72);
}

.share.active 
{
  height:75px;
  transition : height  300ms  ease-in;
transition-timing-function: cubic-bezier(.58,-0.36,.88,.72);
}

.share input 
{
  
  opacity: 0 ;
}

.share button 
{
  display: block ;
  width:170px;
  height:40px;
  margin-bottom:20px;
  padding:10px 32px ;
  outline:none ;
  font-weight: 200;
  background:white ;
  border:1px solid ghostwhite ;
  font-family: Abel-Regular ;
  transition:.2s ease-in-out ;
  text-transform:capitalize ;
}
